index.html
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-form",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "files"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-multi",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 取得所有上傳的二進位檔案\nconst binaryKeys = Object.keys(items[0].binary || {});\nconst newItems = [];\n\n// 複製原本的 body 資料 (文字欄位)\nconst bodyData = items[0].json.body;\n\n// 如果有檔案，把它們拆成多筆 item\nif (binaryKeys.length > 0) {\n  for (const key of binaryKeys) {\n    newItems.push({\n      json: {\n        ...bodyData,\n        fileIndex: key // 記住這個檔案的 key (例如 files_0)\n      },\n      binary: {\n        data: items[0].binary[key] // 把檔案統一改名為 'data' 讓 Drive 節點好讀取\n      }\n    });\n  }\n} else {\n  // 沒檔案的情況，還是要回傳一筆資料給 Sheet\n  newItems.push({\n    json: {\n      ...bodyData,\n      noFile: true\n    }\n  });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "split-files",
      "name": "Split Files"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "check-no-file",
              "leftValue": "={{ $json.noFile }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "notExists", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 0],
      "id": "has-file",
      "name": "Has File?"
    },
    {
      "parameters": {
        "inputDataFieldName": "data",
        "name": "={{ $json.selectedBrand }}-{{ $json.department }}-{{ $now.setZone('Asia/Taipei').toFormat('yyyyMMdd-HHmm') }}-{{ $json.fileIndex }}",
        "driveId": { "__rl": true, "value": "0AO7ZWszilMPIUk9PVA", "mode": "list" },
        "folderId": { "__rl": true, "value": "1OABbRAsTSh_0qmnqmiG-YxFyncWd3iuQ", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [660, -100],
      "id": "upload-drive",
      "name": "Upload to Drive",
      "credentials": { "googleDriveOAuth2Api": { "id": "ra3SSUeZ6q3z2p6T", "name": "James Drive" } }
    },
    {
      "parameters": {
        "jsCode": "// 彙整所有上傳後的連結\nconst links = [];\n// 取得第一筆資料的原始表單資訊 (因為都一樣，取第一個就好)\nlet formData = {};\n\n// 檢查輸入項目\nif (items.length > 0) {\n  // 如果是走上傳路徑\n  if (items[0].json.webViewLink) {\n    for (const item of items) {\n      links.push(item.json.webViewLink);\n    }\n    formData = item.json;\n  } else {\n    // 如果是走無檔案路徑，formData 在 items[0] 裡\n    formData = items[0].json;\n  }\n}\n\n// 回傳合併後的一筆資料\nreturn [{\n  json: {\n    ...formData,\n    finalLinks: links.length > 0 ? links.join('\\n') : '無附件'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "merge-links",
      "name": "Merge Links"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1l_0UO2H4m0uVdARLZNCHfBcISRN22Z0vsYui76WjBgY", "mode": "list" },
        "sheetName": { "__rl": true, "value": 1175618142, "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "單位": "={{ $json.department }}",
            "客訴/需求": "={{ $json.requestType }}",
            "問題詳述": "={{ $json.description }}",
            "附件檔案連結": "={{ $json.finalLinks }}",
            "提交日期": "={{ $now.setZone('Asia/Taipei').toFormat('yyyy-MM-dd') }}",
            "提交時間": "={{ $now.setZone('Asia/Taipei').toFormat('HH:mm:ss') }}",
            "提出類型分類": "={{ $json.category }}",
            "所屬品牌": "={{ $json.selectedBrand }}",
            "補充姓名 (老師/學生)": "={{ $json.extraName }}",
            "詳細問題分類": "={{ $json.subIssue }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1100, 0],
      "id": "sheet-final",
      "name": "Google Sheet",
      "credentials": { "googleSheetsOAuth2Api": { "id": "M06ae0tAr1cNKyQE", "name": "James' Google" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Split Files", "type": "main", "index": 0 }]] },
    "Split Files": { "main": [[{ "node": "Has File?", "type": "main", "index": 0 }]] },
    "Has File?": {
      "main": [
        [{ "node": "Upload to Drive", "type": "main", "index": 0 }],
        [{ "node": "Merge Links", "type": "main", "index": 0 }]
      ]
    },
    "Upload to Drive": { "main": [[{ "node": "Merge Links", "type": "main", "index": 0 }]] },
    "Merge Links": { "main": [[{ "node": "Google Sheet", "type": "main", "index": 0 }]] }
  }
}
